/************************************************************
********************  IMPORT DES POLICES ********************
************************************************************/
@font-face {
  font-family: "Righteous";
  font-display: block;
  src: url("Fonts/Righteous/Righteous-Regular.ttf") format("truetype");
}
/******************************************************************
********************  DEFINITION DES VARIABLES ********************
******************************************************************/
:root {
  --hauteur-du-sol: 50px;
  --facteuragrandissement: 1;
}

/************************************************************
**************** DESIGN DE LA PAGE D'ACCUEIL ****************
************************************************************/
body {
  font-size: 2.3em;
  margin: 0;
  font-family: "Righteous";
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
nav {
  position: relative;
  width: 100%;

  height: 50px;
  background-color: black;
}
section {
  position: relative;
  bottom: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
h1 {
  margin: 15px 0 15px 15px;
  font-family: "Righteous";
}
#espace_pro {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.icones {
  text-align: end;
}

.icones a {
  margin-right: 10px;
}

a img {
  width: 35px;
  vertical-align: bottom;
}

#lienCV {
  font-family: "Righteous";
  font-size: 0.4em;
  background-color: rgb(0, 0, 0);

  height: fit-content;
  /* margin-right: 40px; */
  padding: 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  /* -moz-border-radius: 7px; */
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: 3px solid black;
  /* flex-basis: 100%; */
}
a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

a :visited {
  color: white;
}

#lienCV:hover {
  background-color: rgb(255, 255, 255);
}

#lienCV:hover a {
  color: black;
}

/***************************************************************
******************* DESIGN DE LA ZONE DE JEU *******************
***************************************************************/

.decormobile {
  height: 300px;
  width: 1000px;
  left: 0px;
  position: relative;
  bottom: 0;
}

#murdebriques {
  width: 100000px;
  border-top: 8px solid black;
  background-image: url("images/briques.jfif");
  /* left:0; */
  bottom: var(--hauteur-du-sol);
  height: 370px;
  /* background-repeat: repeat; */
  position: absolute;
  /* z-index: 1; */
}

#affiche {
  top: 30px;
  left: 200px;
  height: 280px;
  position: relative;
  z-index: 2;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

#identite_1 {
  position: absolute;
  left: 657px;
  bottom: calc(var(--hauteur-du-sol) + 296px);
  width: 300px;
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  display: none;
}

#identite_2 {
  position: absolute;
  left: 675px;
  bottom: calc(var(--hauteur-du-sol) + 176px);
  width: 300px;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  display: none;
}
#identite_3 {
  position: absolute;
  left: 651px;
  bottom: calc(var(--hauteur-du-sol) + 58px);
  width: 300px;
  transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  display: none;
}

/**************************************************************
***************** DESIGN DES BOUTONS D'ACTION *****************
***************************************************************/

/* .boutondaction {
  position: absolute;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: rgb(240, 237, 52);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
} */
button {
  /* box-shadow: unset; */
  position: absolute;
  bottom: calc(var(--hauteur-du-sol) + 73px);
  border: 2px solid rgb(196, 162, 13);
  width: 25px;
  height: 25px;
  background-color: rgb(7, 253, 171);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  /* -moz-border-radius: 50%; */
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 3;
}
#boutonaffiche {
  left: 269px;
  bottom: calc(var(--hauteur-du-sol) + 120px);
}

#boutonfeutricolore {
  left: 610px;
}
#boutonbus {
  left: 1450px;
}
#boutontracteur {
  left: 3850px;
}
#boutonfille {
  left: 3100px;
}

/* #boutonfille{
  height: 10px;
  width: 10px;
  left: 75px;
  bottom: 75px;
}
#boutontracteur{
  height: 10px;
  width: 10px;
  left: 130px;
  bottom: 75px;
  z-index: 3;
} */

/***************************************************************
*********************** DESIGN DE STICKY ***********************
****************************************************************/

#container {
  position: absolute;
  overflow: hidden;
  border-right: 3px solid rgb(255, 0, 0);
  border-left: 3px solid rgb(255, 0, 0);
  border-top: 1px solid rgb(255, 0, 0);
  border-bottom: 1px solid rgb(255, 0, 0);
  z-index: 10;
}

.sprite {
  position: absolute;
  height: 630px;
  bottom: var(--hauteur-du-sol);
}

.containerinverse {
  transform: scaleX(-1);
  position: absolute;
  height: 630px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}
#sol {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--hauteur-du-sol);
  background-color: black;
}
/*******************************************************************
********************  DESIGN DU PANNEAU PIETON  ********************
********************************************************************/

/* .panneau_pieton_initial {
  position: absolute;
  width: 120px;
  bottom: 132px; 
  z-index: 1; 
} */

#panneaupieton {
  position: absolute;
  left: 10px;
  width: 150px;
  bottom: var(--hauteur-du-sol);
}
#panneaupieton img {
  position: absolute;
  width: 120px;
  bottom: 132px;
}

#panneaupieton img:nth-child(1) {
  z-index: 2;
}
#panneaupieton img:nth-child(2) {
  z-index: 1;
}
#panneaupieton img:nth-child(3) {
  z-index: 1;
}
#panneaupieton img:nth-child(4) {
  z-index: 1;
}
#panneaupieton img:nth-child(5) {
  z-index: 1;
}
#panneaupieton img:nth-child(6) {
  z-index: 1;
}
#panneaupieton img:nth-child(7) {
  z-index: 1;
}
#panneaupieton img:nth-child(8) {
  z-index: 1;
}

.poteaupieton {
  position: relative;
  left: 53px;
  height: 136px;
  width: 15px;
  background-color: rgb(0, 0, 0);
  bottom: 0;
}

/******************************************************************
********************  DESIGN DU FEU TRICOLORE  ********************
******************************************************************/

#feuTricolore {
  position: absolute;
  left: 600px;
  width: 46px;
  bottom: var(--hauteur-du-sol);
}
.coque {
  position: absolute;
  width: 46px;
  height: 110px;
  bottom: 198px;
  background-color: black;
  border-radius: 20px;
}
.feuRouge {
  position: relative;
  left: 8px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-color: rgb(121, 38, 38);
  border-radius: 50%;
}
.feuOrange {
  position: relative;
  left: 8px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: rgb(138, 77, 27);
  /* background-color: rgb(255, 187, 0); couleur allumée*/
  border-radius: 50%;
  /* display: none; */
}
.feuVert {
  position: relative;
  left: 8px;
  top: 15px;
  width: 30px;
  height: 30px;
  background-color: rgb(23, 58, 31);
  /* background-color: rgb(9, 251, 70); couleur allumée */
  border-radius: 50%;
  /* display: none; */
}
.poteau {
  position: relative;
  bottom: 0;
  left: 16px;
  width: 15px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  /* border:2px solid black; */
}
/*******************************************************
*************  DESIGN DE LA VOITURE EN FEU *************
********************************************************/
#voitureEnFeu {
  position: absolute;
  bottom: calc(var(--hauteur-du-sol) - 15px);
  left: 2400px;
  height: 500px;
  width: 200px;
}

.voiture {
  position: absolute;
  height: calc(100px * var(--facteuragrandissement));
  bottom: 0;
}

.feu {
  position: absolute;
  height: calc(200px * var(--facteuragrandissement));
  bottom: calc(70px * var(--facteuragrandissement));
  left: calc(-13px * var(--facteuragrandissement));
}

/*******************************************************
********************  DESIGN DU BUS ********************
********************************************************/
#bus {
  position: absolute;
  height: calc(270px * var(--facteuragrandissement));
  bottom: calc(var(--hauteur-du-sol) - 0px);
  left: 1400px;
  /* display: none; */
}
#bus img:first-of-type {
  height: calc(270px * var(--facteuragrandissement));
}

#logo_ifocop {
  transform: rotate(-10deg);
  position: absolute;
  height: calc(50px * var(--facteuragrandissement));
  bottom: calc(73px * var(--facteuragrandissement));
  right: calc(45px * var(--facteuragrandissement));
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

#tag {
  position: absolute;
  width: 362px;
  left: 64px;
  bottom: calc(var(--hauteur-du-sol) + 40px);
  transform: rotate(19deg);
  -webkit-transform: rotate(19deg);
  -moz-transform: rotate(19deg);
  -ms-transform: rotate(19deg);
  -o-transform: rotate(19deg);
  opacity: 0;
}

.bombe_decor {
  position: absolute;
  height: 30px;
}

#bombe_1 {
  bottom: 0;
  left: 30px;
}
#bombe_2 {
  bottom: 0;
  left: 286px;
}
#bombe_3 {
  bottom: -9px;
  left: 318px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

/******************************************************
************  DESIGN DE LA FILLE AU BALLON ************
******************************************************/
#filleauballon {
  position: absolute;
  bottom: calc(var(--hauteur-du-sol) - 4px);
  left: 3000px;
}
.chaussure {
  position: absolute;
  transform: scaleX(-1);
  height: 30px;
  bottom: 3px;
  left: 7px;
  height: 11px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.filleavecballon {
  position: relative;
  /* bottom: calc(var(--hauteur-du-sol) - 1px); */
  height: 110px;
  /* display: none; */
}

.fillesansballon {
  position: relative;
  /* display: none; */
  /* bottom: var(--hauteur-du-sol); */
  height: 110px;
  display: none;
}

.ballon {
  position: absolute;
  left: 48px;
  /* bottom: calc(var(--hauteur-du-sol) + 70px); */
  bottom: 100px;
  height: 70px;
  /* display: none; */
}

/******************************************************
*****************  DESIGN DU TRACTEUR *****************
******************************************************/
#tracteur {
  position: absolute;
  transform: scaleX(-1);
  left: 4000px;
  bottom: calc(var(--hauteur-du-sol) - 5px);
  height: calc(200px * var(--facteuragrandissement));

  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.tracteurvide {
  position: absolute;
  height: calc(200px * var(--facteuragrandissement));
  opacity: 1;
}
.tracteuravecsticky {
  position: absolute;
  height: calc(200px * var(--facteuragrandissement));
  opacity: 0;
}

/******************************************************
*****************  DESIGN DE LA FERME *****************
******************************************************/

#ferme {
  position: absolute;
  height: calc(520px * var(--facteuragrandissement));
  bottom: calc(var(--hauteur-du-sol) - 2px);
  left: 4500px;
}

#mouton {
  position: absolute;
  height: calc(50px * var(--facteuragrandissement));
  bottom: calc(var(--hauteur-du-sol) - 5px);
  left: 5400px;
}
